* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}


body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg,#FF87CA, #B983FF);

}


#root {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #F0ECE3;    
}